<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color:#0b0000;">
	<div class="container mt-5">
		<!-- Login form -->
		<form method="post" enctype="multipart/form-data">
			<h1 style="text-align: center;"><span style="color: #780909;">Register</span></h1>

			{% csrf_token %} <!-- CSRF token for security -->

			<hr>

			<!-- Display error/success messages -->
			{% if messages %}
			<div class="alert alert-primary" role="alert">
				{% for message in messages %}
				{{ message }}
				{% endfor %}
			</div>
			{% endif %}

			<form>
                <!-- Email input -->
                <div data-mdb-input-init class="form-group">
                    <label class="form-label" for="form2Example1"><font color ="white">Username</font></label>
                  <input type="text" name="username" class="form-control" />
                </div>
              
                <!-- Password input -->
                <div data-mdb-input-init class="form-group">
                    <label class="form-label" for="form2Example2"><font color="white">Password</font></label>
                  <input type="password" name="password" class="form-control" />
                </div>
              
                  <div class="form-group">
                    <!-- Simple link -->
                    <a href="/accounts/login/"><font color="white">Login</font></a>
                  </div>
                
                <div class="form-group">
                    <div class="col d-flex justify-content-center">
                    </div>
                </div>
                <!-- Submit button -->
                <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Register</button>
              
                <!-- Register buttons -->
                <div class=form-group>
                <p><font color ="white">Registered?</font><a href="/accounts/login/">Login</a></p>
                </div>
              </form>
		</form>
	</div>
</body>
</html>